@font-face {
  font-family: 'source-sans-pro';
  src:
    url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
    url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
    url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'source-sans-pro';
  src:
    url('fonts/sourcesanspro-italic-webfont.woff2') format('woff2'),
    url('fonts/sourcesanspro-italic-webfont.woff') format('woff'),
    url('fonts/sourcesanspro-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'source-sans-pro';
  src:
    url('fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
    url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
    url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'rockwell';
  src: url('fonts/rockwell.woff2') format('woff2'),
       url('fonts/rockwell.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p, blockquote,
a,
button,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
pre,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
figure,
figcaption,
input,
select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: none;
}

q:before {
  content: '\201C';
}

q:after {
  content: '\201D';
}

html {
  height: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  min-width: 100%;
  -webkit-overflow-scrolling: touch;
  line-height: 1;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  font-family: 'source-sans-pro', helvetica, arial, sans-serif;
}

body::after {
  position: absolute;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

body::selection {
  background-color: rgba(204, 48, 87, 0.4);
}

body::-moz-selection {
  background-color: #d85777;
  color: white;
}

h1 {
  margin: 0;
  padding: 0;
}

p, li {
  margin: 0 0 0.9375rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

p:last-child, li:last-of-type {
  margin-bottom: 0;
}

ul > li {
  list-style-type: disc;
  margin-left: 1rem;
}

strong, b {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 1rem
}

footer p {
  margin-bottom: 0;
}

main {
  display: block;
}

dl, dt, dd {
  margin: 0;
  line-height: 1.375rem;
}

abbr {
  font-variant: none;
  text-decoration: none;
}

button,
input[type="reset"] {
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

a {
  color: #cc3057;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }
}

body {
  height: 100%;
  background: #fcf0d6;
}

iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}

.container {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 1000px;
  background: white;

  @media screen and (min-width: 30em) {
    padding: 2rem 1.5rem;
  }

  @media screen and (min-width: 40em) {
    padding: 2rem;
  }

  @media screen and (min-width: 1000px) {
    padding: 2rem 3rem;
    border-left: 4px solid #fae8c1;
    border-right: 4px solid #fae8c1;
  }
}

header {
  padding: 2rem 1rem;
  margin: -2rem -1rem 2rem;
  background: #2a3c33;

  @media screen and (min-width: 30em) {
    padding: 2rem 1.5rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  
  @media screen and (min-width: 40em) {
    padding: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
  }

  @media screen and (min-width: 1000px) {
    padding: 3rem 2rem 2rem;
    margin-top: -3rem;
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

.logo {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5))
}

.header-image {
  position: relative;
  margin: -2rem -1rem 0;
  height: 332px;
  overflow: hidden;
  background-image: url("/images/full/home/IMG_5664.jpg");
  background-color: black;
  background-size: cover;
  background-position: 50% 40%;
  background-repeat: no-repeat;
  margin-bottom: 2rem;

  @media screen and (min-width: 30em) {
    margin: -2rem -1.5rem 0;
  }

  @media screen and (min-width: 40em) {
    margin: -2rem -2rem 0;
  }

  @media screen and (min-width: 1000px) {
    margin: -2rem -2rem 0;
  }
}

.header-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.20);
}

.image-description {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  margin-bottom: 2rem;

  @media screen and (min-width: 34em) {
    gap: 2rem;
    grid-template-columns: 200px minmax(auto, 500px);
  }
}

.image-description img {
  border-radius: 5px;
}

.big-image-description {
  margin-bottom: 1rem;

  @media screen and (min-width: 56em) {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr minmax(300px, 500px);
  }
}

.big-image-description img {
  border-radius: 5px;
}

.card {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1rem;
  text-align: center;
  background: #fff6e2;

  @media screen and (min-width: 30em) {
    padding: 1.5rem; 
  }
}

.center {
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.center-logo {
  margin: 0 auto;
  max-width: 512px;
}

.visually-hidden {
  position: absolute;
  height: 1;
  width: 1;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 0.5rem;
}

.bold {
  font-weight: bold;
}

.heading {
  font-family: 'rockwell';
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: #fae8c1;
  margin-top: 2rem;

  @media screen and (min-width: 30em) {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}

.sub-heading {
  font-family: 'rockwell';
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 2.125rem;
  margin-bottom: 1rem;
}

.underline-heading {
  padding-bottom: 0.75rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.35);
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading-3 {
  font-size: 1.5rem; 
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.limit-width {
  max-width: 40rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
}

.grid img {
  border-radius: 5px;
}

@media screen and (min-width: 34em) and (max-width < 40em) {
  .grid {
    grid-template-columns: repeat(2, minmax(min-content, 400px));
  }

  .grid img:nth-child(3) {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 40em) {
  .grid {
    grid-template-columns: repeat(3, minmax(min-content, 400px));
  }
}

.grid-2 {
  display: grid;
  grid-gap: 1rem;
  margin: 0 auto;
}

.grid-2 img {
  border-radius: 5px;
}

@media screen and (min-width: 34em) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.two-column-then-stack {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;

  @media screen and (min-width: 30em) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 56em) {
    display: flex;
    flex-direction: column;
  }
}


.text-center {
  text-align: center;
}

.small-mb1 {
  @media screen and (max-width: 46em) {
    margin-bottom: 1rem !important;
  }
}

.small-mb2 {
  @media screen and (max-width: 46em) {
    margin-bottom: 2rem !important;
  }
}

.large-mb0 {
  @media screen and (min-width: 56em) {
    margin-bottom: 0 !important;
  }
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}
